<nav class="nav-principal" *ngIf="!ocultarNav()">
    <a routerLink="/home" class="nav-logo">
        <img src="/logo-cinepop.png" alt="Cinepop" class="logo-img-nav">
    </a>

    <ng-container *ngIf="usuarioLogueado()">
    
        <div class="nav-links">
            <a routerLink="/home" routerLinkActive="activo">Inicio</a>
            <a routerLink="/cartelera" routerLinkActive="activo">Cartelera</a>
            <a *appRolAdmin="'Admin'" routerLink="/admin" routerLinkActive="activo">Panel de admin</a>
            <button type="button" class="btn-salir" (click)="cerrarSesion()">Cerrar sesion</button>
        </div>

    </ng-container>

    <div class="nav-links" *ngIf="!usuarioLogueado()">
        <a routerLink="/login" routerLinkActive="activo">Ingresar</a>
        <a routerLink="/registro" routerLinkActive="activo">Registrarme</a>
    </div>
</nav>